*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(246, 248, 247);
}
header{
    background-color: white;

}
header a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: black;

}
header #logo{
    font-size:2em;
}
header nav li{
    display: inline-block;

}
header nav a{
    transition: background-color 0.4s;
}
header nav a:hover{
    background-color: rgba(0,0,0,.1);
    
    

}
#showcase{
    height: 250px;
    background-image: url("https://images.unsplash.com/photo-1521856729154-7118f7181af9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fHBob3RvZ3JhcGhlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    position: relative;

}
#showcase .text{
    background-color: rgba(0,0,0,.3);
    position: absolute;
    width: 100%;
    bottom: 100px;
}
#showcase .text h2{
    padding: 20px;
    text-align: center;
    color: #fff;
}
/**showcase**/
#few-words-about-us .words-container{
    max-width: 500px;
    margin: auto;
}
.words{
    text-align: center;
    margin: 20px 0px;

}
.words-container h3 , .words-container p{
    padding: 10px;
}
.call-to-action{
    text-align: center;
}
.call-to-action a{
    display: inline-block;
    padding: 15px 10px;
    margin:20px 0px;
    color: #fff;
    background-color: #55C18F;
    text-decoration: none;
    transition: box-shadow 0.4s;
}

.call-to-action a:hover{
    box-shadow: 0px 0px 15px rgba(0,0,0,.2);
}






/***header*/
footer{
    background-color: black;
    color: #fff;
    padding: 20px;
}
footer .services ul{
    list-style-type: none;

}
footer .services li{
    padding: 10px 0px;
}
footer .services h5{
    padding: 15px 0px;
    font-size: 1.2em;
}
footer .services{
    margin-bottom: 20px;
}
footer a{
    color: #fff;

}
footer .contact-info{
    padding: 10px 0px;
}
footer .contact-form{
    padding: 20px 0px;
}
footer .contact-form input{
    width: 100%;
    padding: 15px;
    margin: 10px 0px;
}
footer .contact-form button{
    background-color:#55C18F;
    color:#fff;
    padding: 15px;
    display: inline-block;
  
    text-decoration: none;
    transition: box-shadow 0.4s;
    margin:10px 0px;
    border: none;
}
/**footer**/
@media screen and (min-width:1000px){
    header nav{
        display: inline-block;
        width: 60%;
    }
}
    

